.container {
	  z-index: 3;
    max-width: 1200px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    /*background: linear-gradient(284.89deg, #547608 40.15%, #7fd300 178.17%);*/
    position: absolute;
    z-index: 3;
     width: 100%;
}

 

.social__item {
    margin-right:  10px;
}

 
.phones__item {
    margin-left:  10px;
}


.phones__item:hover {
        color: #e5e5e5;
}



 

.footer {
	background: linear-gradient(284.89deg, #547608 40.15%, #7fd300 178.17%);
        background: linear-gradient(
284.89deg, #bebf2f 40.15%, #f2ff00 178.17%);
            background: linear-gradient(
284.89deg, #b3b1a8 40.15%, #ffffff 178.17%);
  padding: 50px 20px 150px;
}

.footer__inner {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 768px) {

      .header {
    position: absolute;
     
         align-items: center;
  }
  

.header-container {
    width: auto;
}


  


}